<%- include('header'); -%>
   <div class="box">
        <h1 id="heading"> <%= kindofDay %> </h1>
    </div>


    <div class="box">
        <% for (let i = 0; i < additional.length; i++) { %>
        <div class="item">
            <input type="checkbox" name="" id=""> <p> <%= additional[i] %> </p>
        </div>
        <% } %>
         <form class="item" action="/" method="post">
             <input type="text" placeholder="New Item" name="new_one" id="" autocomplete="off"> 
             <button id="specific" name="list" type="submit" value= <%= kindofDay %> >+</button>
         </form>
    </div>
<%- include('footer'); -%>